<h2 mat-dialog-title>{{person.name}}</h2>
<mat-dialog-content class="mat-typography">
  <p>{{ person.title }}</p>
  <div class="card-content">
      <img
          class="headshot-image"
          mat-card-image
          src="{{ person.image }}"
          alt="Professional headshot of {{ person.name }}"
        />
    <p>{{ person.bio }}</p>
  </div>
  
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button mat-button mat-dialog-close >Close</button>
</mat-dialog-actions>
