
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$cornell-red: (
    50 : #f6e4e4,
    100 : #e8bbbb,
    200 : #d98d8d,
    300 : #ca5f5f,
    400 : #be3d3d,
    500 : #b31b1b,
    600 : #ac1818,
    700 : #a31414,
    800 : #9a1010,
    900 : #8b0808,
    A100 : #ffb8b8,
    A200 : #ff8585,
    A400 : #ff5252,
    A700 : #ff3939,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$cornell-blue: (
    50 : #e4f6f6,
    100 : #bbe8e8,
    200 : #8dd9d9,
    300 : #5fcaca,
    400 : #3dbebe,
    500 : #1bb3b3,
    600 : #18acac,
    700 : #14a3a3,
    800 : #109a9a,
    900 : #088b8b,
    A100 : #b8ffff,
    A200 : #85ffff,
    A400 : #52ffff,
    A700 : #39ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// mandatory stuff for theming
$website-primary: mat-palette($cornell-red);
$website-accent:  mat-palette($cornell-blue);

// include the custom theme components into a theme object
$website-theme: mat-light-theme($website-primary, $website-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($website-theme);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$website-primary: mat.define-palette(mat.$indigo-palette);
$website-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$website-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$website-theme: mat.define-light-theme((
  color: (
    primary: $website-primary,
    accent: $website-accent,
    warn: $website-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($website-theme);

