.page {
  padding: 20px;
}
.pubs-col-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
.bio-card {
  max-width: 400px;
}

.pubs-list {
  margin-left: 250px;
  margin-right: 250px;
}
