<div class="page">
  <div class="card-1"></div>
  <img class="cover-image" src="../../assets/nyc-pps.jpeg" />
  <div class="card-2">
    <div>
      <img class="oliver-pic" src="../../assets/headshots/oliver-group.jpg" />
      <h3>Dr. Oliver Gao</h3>
    </div>
    <div class="welcome-container">
      <h1>Welcome to Gao Labs!</h1>
      <p>
        (placeholder) The Cornell University Post-Processing Software (CU-PPS)
        for air quality and congestion management developed by Gao’s group is
        the nation’s first web-based software integrating activity-based travel
        demand models with EPA MOVES model. It is the official software in use
        for New York City to ensure that transportation plans and programs will
        not cause any new violations of federal air quality standards, hence
        protecting a population of 12.4 million in NYC metro area. In 2014-2018,
        he served as the Editor-in-Chief of Transportation Research Part D:
        Transport and Environment. Before joining Cornell, Gao was a QUANT in
        the mathematical and econometrical modeling division at the TRG
        Management LP, (also known as The Rohatyn Group (TRG)), a Wall Street
        hedge fund specializing in emerging markets.
      </p>
    </div>
  </div>
  <h1>Featured Work</h1>
  <div class="card-3">
    <ul class="featured-work-list">
      <li>Publication 1</li>
      <li>Publication 2</li>
    </ul>
    <div>Other content</div>
  </div>
</div>
